[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
requests = "*"
monero_usd_price = "*"
lxml = "*"
monerorequest = "*"
clipboard = "*"
qrcode = "*"
pillow = "*"
factory_boy = "*"
time-machine = "*"
vcrpy = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
tests = 'python -m unittest discover test'
gui = 'python gui.py'