interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price?ids=monero&vs_currencies=usd
  response:
    body:
      string: '{"monero":{"usd":155.58}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"03310b1023418993a5e6880a4935143a"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hitbtc.com/api/3/public/ticker/XMRUSDT
  response:
    body:
      string: '{"ask":"155.9959","bid":"155.6541","last":"155.6953","low":"150.1201","high":"158.7200","open":"156.1963","volume":"3983.155","volume_quote":"622147.3123654","timestamp":"2024-08-02T03:22:13.906Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "id": "0", "method": "get_balance"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:18088/json_rpc
  response:
    body:
      string: "{\r\n  \"id\": \"0\",\r\n  \"jsonrpc\": \"2.0\",\r\n  \"result\": {\r\n
        \   \"balance\": 52561187392713,\r\n    \"blocks_to_unlock\": 8,\r\n    \"multisig_import_needed\":
        false,\r\n    \"per_subaddress\": [{\r\n      \"account_index\": 0,\r\n      \"address\":
        \"59fhPNhFLEx3zP16ZAPaeHXsPoNczVaGo245CgDSW9WpiMxvP1N7WdxX1RA4vob6ABGGBxUgjcCN2LjeSGPiH8AEKpAMFKC\",\r\n
        \     \"address_index\": 0,\r\n      \"balance\": 52561187392713,\r\n      \"blocks_to_unlock\":
        8,\r\n      \"label\": \"Primary account\",\r\n      \"num_unspent_outputs\":
        32,\r\n      \"time_to_unlock\": 0,\r\n      \"unlocked_balance\": 49306648866459\r\n
        \   }],\r\n    \"time_to_unlock\": 0,\r\n    \"unlocked_balance\": 49306648866459\r\n
        \ }\r\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 Aug 2024 03:22:14 GMT
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=USD
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"><head><meta charSet=\"utf-8\"/><meta
        name=\"viewport\" content=\"width=device-width\"/><link rel=\"canonical\"
        href=\"https://www.xe.com/currencyconverter/convert/?Amount=1&amp;From=USD&amp;To=USD\"/><link
        rel=\"alternate\" hrefLang=\"x-default\" href=\"https://www.xe.com/currencyconverter/convert/?Amount=1&amp;From=USD&amp;To=USD\"/><link
        rel=\"alternate\" hrefLang=\"en\" href=\"https://www.xe.com/currencyconverter/convert/?Amount=1&amp;From=USD&amp;To=USD\"/><link
        rel=\"alternate\" hrefLang=\"en-gb\" href=\"https://www.xe.com/en-gb/currencyconverter/con[...]
- request:
    body: '{"jsonrpc": "2.0", "id": "0", "method": "make_integrated_address", "params":
      {"standard_address": "", "payment_id": "c2c9f284c33a4903"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:18088/json_rpc
  response:
    body:
      string: "{\r\n  \"id\": \"0\",\r\n  \"jsonrpc\": \"2.0\",\r\n  \"result\": {\r\n
        \   \"integrated_address\": \"5KNNQBWjwWU3zP16ZAPaeHXsPoNczVaGo245CgDSW9WpiMxvP1N7WdxX1RA4vob6ABGGBxUgjcCN2LjeSGPiH8AEUtno6YtBQMe1RUDsDX\",\r\n
        \   \"payment_id\": \"c2c9f284c33a4903\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 Aug 2024 03:22:14 GMT
    status:
      code: 200
      message: Ok
- request:
    body: '{"jsonrpc": "2.0", "id": "0", "method": "transfer", "params": {"destinations":
      [{"address": "5KNNQBWjwWU3zP16ZAPaeHXsPoNczVaGo245CgDSW9WpiMxvP1N7WdxX1RA4vob6ABGGBxUgjcCN2LjeSGPiH8AEUtno6YtBQMe1RUDsDX",
      "amount": "10"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:18088/json_rpc
  response:
    body:
      string: "{\r\n  \"id\": \"0\",\r\n  \"jsonrpc\": \"2.0\",\r\n  \"result\": {\r\n
        \   \"amount\": 10,\r\n    \"amounts_by_dest\": {\r\n      \"amounts\": [10]\r\n
        \   },\r\n    \"fee\": 114610000,\r\n    \"multisig_txset\": \"\",\r\n    \"spent_key_images\":
        {\r\n      \"key_images\": [\"96f5d3d90c8106cc1fdcff3d01fb2becb0c3d0c3761cb89dfd1a2edd60846b5a\",\"58fbc4d6239fe79f0f65a4c07056665751a4f01a5b753a0a9c261f56b83b5b37\"]\r\n
        \   },\r\n    \"tx_blob\": \"\",\r\n    \"tx_hash\": \"50214e626f5fb25a566c1391f7744e8a44776a7e64533b5713a4100a7ae3e4c0\",\r\n
        \   \"tx_key\": \"\",\r\n    \"tx_metadata\": \"\",\r\n    \"unsigned_txset\":
        \"\",\r\n    \"weight\": 2204\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 Aug 2024 03:22:14 GMT
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"jsonrpc": "2.0", "id": "0", "method": "get_version"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:18088/json_rpc
  response:
    body:
      string: "{\r\n  \"id\": \"0\",\r\n  \"jsonrpc\": \"2.0\",\r\n  \"result\": {\r\n
        \   \"release\": true,\r\n    \"version\": 65563\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 Aug 2024 03:27:15 GMT
    status:
      code: 200
      message: Ok
- request:
    body: '{"jsonrpc": "2.0", "id": "0", "method": "open_wallet", "params": {"filename":
      "subscriptions_wallet"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:18088/json_rpc
  response:
    body:
      string: "{\r\n  \"id\": \"0\",\r\n  \"jsonrpc\": \"2.0\",\r\n  \"result\": {\r\n
        \ }\r\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 Aug 2024 03:27:16 GMT
    status:
      code: 200
      message: Ok
- request:
    body: '{"jsonrpc": "2.0", "id": "0", "method": "refresh"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:18088/json_rpc
  response:
    body:
      string: "{\r\n  \"id\": \"0\",\r\n  \"jsonrpc\": \"2.0\",\r\n  \"result\": {\r\n
        \   \"blocks_fetched\": 0,\r\n    \"received_money\": false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 Aug 2024 03:27:17 GMT
    status:
      code: 200
      message: Ok
version: 1
